nav{
    border: 2px solid;
    height: 120px;
    position: sticky;
    z-index: 1000;
    top: 0%;
    border: none;
    background-color: white;
}
nav div{
    border:2px solid;
    border: none;
    height: 120px;
}
#a{
    position: relative;
    top: 28px;
    left: 25px;
    font-size: 45px;
    color: rgb(151, 150, 150);
}
#a:hover{
    color: #333;
    cursor: pointer;
}
#b{
    position: relative;
    top: 30px;
    left: 50px;
    font-size: 50px;
    color: gray;
}
#b:hover{
    color: #333;
    cursor: pointer;
}
#c{
    position: relative;
    top: 10px;
    left:70px ;
    text-decoration: none;
    font-size: 35px;
    color: rgb(155, 149, 149);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
}
#c:hover{
    color: #333;
    cursor: pointer;
}
#d{
    position: relative;
    top: 20px;
    left: 950px;
    font-size: 50px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: orangered;
}
#e{
    position: relative;
    top: 10px;
    left: 1680px;
    font-size: 25px;
    text-decoration: none;
    letter-spacing: 2px;
    color: gray;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: autoi;
}
#f{
    position: relative;
    top: 20px;
    left: 1700px;
    font-size: 28px;
    padding: 10px 10px 10px 10px;
    border: 2px solid;
    border-radius: 100px;
    background-color:rgb(255, 48, 48) ;
    color: white;

}
#f:hover{
    /* color: #333; */
    cursor: pointer;
}
#g{
    position: relative;
    top: 20px;
    left: 1790px;
    border: 2px solid;
    padding: 10px 10px 10px 10px;
    border-radius: 100px;
    font-size: 30px;
    background-color: rgb(255, 48, 48);
    color: white;
}
#g:hover{
    /* color: #333; */
    cursor: pointer;
}
#h{
    position: relative;
    top: 20px;
    left: 1660px;
    border: 2px solid;  
    font-size: 30px;
    padding: 10px 10px 10px 10px;
    border-radius: 100px;
    background-color: rgb(255, 48, 48) ;
    color: white;
}
#h:hover{
    /* color: #333; */
    cursor: pointer;
}
nav div form button{
    position: relative;
    left: 2490px;
    bottom: 30px;
    border: none;
    background-color:transparent;
    color: transparent;
}
#i{
    position: relative;
    bottom: 10px;
    font-size: 25px;
    border: 2px solid;
    padding-left: 30px;
    width: 100px;
    border: none;
    /* color:#e9e4e4; */
    color: transparent;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
#i:hover{
    color: #333;
    cursor: pointer;
}
#j{
    font-size: 38px;
    color:rgb(179, 169, 169);
    cursor: pointer;
}
#j:hover{
    color: #333;
}

#k{
    background-image: url("./Images/28-Cheese.jpg\ 2x.jpg\ 2x.jpg\ 2x");
    height: 950px;
    background-repeat:no-repeat;
    background-size: cover;
    border: 2px solid white;
    
}
h1{
    position: relative;
    left: 930px;
    top: 190px;
    font-size: 130px;
    /* border: 2px solid; */
    width: fit-content;
    color: rgb(61, 60, 60);
}
#l button{
    position: relative;
    left: 800px;
    top: 150px;
    /* height: 80px; */
    /* width: 1050px; */
    border: none;
    /* background-color: rgb(250, 240, 240); */
    background-color: rgba(255,255,255,0.75);
}
#m{
    font-size: 45px;
    position: relative;
    top: 15px;
    color: rgb(163, 159, 159);
}
#m:hover{
    color: rgb(87, 85, 85);
}
#n{
    width: 1000px;
    height: 100px;
    border: none;
    background-color: rgba(255,255,255,0.75);
}
#o{
    position: relative;
    left: 1150px;
    top: 150px;
    color: red;
    font-size: 40px;
    font-variant: small-caps;
    width: 340px;
    /* border: 2px solid; */
}
#o:hover{
    cursor: pointer;
    border-bottom: 2px solid red;
}


section img{
    /* border: 2px solid; */
    margin-left: 400px;
    margin-top: 100px;
    width: 1300px;
    height: 600px;
}
section pre{
    border: 3px solid rgb(214, 159, 48);
    position: relative;
    bottom: 570px;
    left: 500px;
    width: 1100px;
    height: 500px;
    cursor: pointer;
}
#p{
    /* border: 2px solid; */
    position: relative;
    width: 550px;
    height: 400px;
    left: 580px;
    bottom: 650px;
    background-color: white;
    padding-left: 400px;
    padding-top: 80px;
    font-size: 25px;
    letter-spacing: 2px;
    color: #7e7c7c;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;

}
#q{
    border: none;
    width: 870px;
    height: 60px;
    position: relative;
    bottom: 1050px;
    left: 650px;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 60px ;
    font-weight: bolder;
}
#q:hover{
    text-decoration: underline rgb(182, 178, 178);
}

section span{
    border: 0.5px solid gray ;
    border-bottom: none;
    border-left: none;
    border-right: none;
    width: 50px;
    position: relative;
    left: 920px;
    bottom: 950px;
    padding-top: 50px;
    font-size: 25px;
    word-spacing: 6px ;
    font-family: sans-serif;
    color: orangered;
}
section{
    /* border: 2px solid; */
    height: 1000px;
    }
article{
     /* border: 2px solid;  */
     height: 1000px;
    
}
article:hover{
    text-decoration: underline;
}
article img{
    border: 2px solid;
    position: relative;
    left: 400px;
    bottom: 800px;
    width: 600px;
    height: 500px;
}
#r{
    position: relative;
    top: 100px;
    cursor: pointer;
    border: none;
}
#s{
    position: relative;
    top: 100px;
    left: 500px;
    cursor: pointer;
    border: none;
}
#t{
    /* border: 2px solid; */
    width: fit-content;
    position: relative;
    left: 600px;
    top: 60px;
    font-size: 45px;
    font-variant: small-caps;
    color: #7e7c7c;
    text-decoration: underline white;
    cursor: pointer;
}
#t:hover{
    text-decoration: none;
    text-decoration: underline white;
}
#u{
    /* border: 2px solid; */
    width: fit-content;
    position: relative;
    left: 450px;
    top: 40px;
    font-size: 40px;
    font-weight: 600;
    cursor: pointer;
}
#v{
    /* border: 2px solid; */
    width: fit-content;
    position: relative;
    top: 30px;
    left: 450px;
    font-size: 40px;
    padding-left: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    cursor: pointer;
}
#w{
    border: 2px solid rgb(204, 201, 201);
    border-bottom: none;
    border-left: none;
    border-right: none;
    width: fit-content;
    position: relative;
    left: 550px;
    bottom: 180px;
    font-size: 25px;
    padding-top: 40px;
    color: orangered;
    cursor: pointer;
}
#x{
    border: none;
    width: fit-content;
    position: relative;
    left: 1300px;
    bottom: 200px;
    font-size: 30px;
    text-decoration: underline white;
    color: #7e7c7c;
    cursor: pointer;
}
#x:hover{
    text-decoration: none;
    text-decoration: underline white;
}
#y{
    position: relative;
    left: 1180px;
    bottom: 210px;
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    cursor: pointer;
    /* border: 2px solid; */
    width: fit-content;
}
#z{
    position: relative;
    font-size: 40px;
    left: 1300px;
    bottom: 240px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    cursor: pointer;
    /* border: 2px solid; */
    width: fit-content;
}
#Aa{
    position: relative;
    left: 1270px;
    bottom: 240px;
    font-size: 35px;
    border: 2px solid rgb(202, 198, 198);
    border-bottom: none;
    border-left: none;
    border-right: none;
    width: fit-content;
    padding-top: 30px;
    font-variant: small-caps;
    color: orangered;
    cursor: pointer;
}

#Ab{
    border: 2px solid rgb(214, 205, 205);
    border-bottom: none;
    border-left: none;
    border-right: none;
    width: 2000px;
    margin-left: 300px;
    height: 1200px;
    
    position: relative;
    bottom: 240px;
}

#Ab h3{
    border: 2px solid;
    width: fit-content;
    position: relative;
    left: 900px;
    /* bottom: 50px; */
    font-size: 40px;
    font-variant: small-caps;
    text-decoration: underline orangered;
    padding: 20px 50px 20px 50px;
    background-color: rgb(243, 70, 7);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 1;
    border: none;
}
#Ac{
    position: relative;
    left: 310px;
    bottom: 1360px;
    height: 900px;
    width: 1990px;
    cursor: pointer;
}
#Ad{
    position: relative;
    top: 850px;
    font-size: 90px;
    font-weight: 900px;
    font-weight: bolder;
    color: #333;
    cursor: pointer;
}
#Ae{
    /* border: 2px solid; */
    width: 1000px;
    position: relative;
    bottom: 1150px;
    left: 300px;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}
#Af{
    /* border: 2px solid; */
    width: 1000px;
    position: relative;
    left: 310px;
    bottom: 1100px;
    font-variant: small-caps;
    font-size: 35px;
    color: orangered;
    cursor: pointer;
}
#Af:hover{
    text-decoration: underline;
}
#Ag{
    /* border: 2px solid; */
    position: relative;
    /* bottom: 00px; */
    width: 1000px;
    height: 250px;
    margin-left: 95px;
    cursor: pointer;
}
#Ag:hover{
    text-decoration: underline;
}
#Ak{
    height: 200px;
    margin-top: 20px;
}
#Al{
    position: relative;
    left: 350px;
    bottom: 240px;
    font-size: 40px;
    font-weight: 700;
    line-height: 55px;
}
#Ah{
    border: 2px solid rgb(158, 154, 154);
    border-bottom: none;
    border-top: none;
    border-right: none;
    position: relative;
    bottom: 1450px;
    width: 1100px;
    height: 790px;
    margin-left: 1200px;
    /* border-top: 50px; */
}
#Ai{
    /* border: 2px solid; */
    position: relative;
    /* bottom: 00px; */
    width: 1000px;
    height: 250px;
    margin-left: 95px;
    cursor: pointer;

}
#Ai:hover{
    text-decoration: underline;
}
#Aj{
    /* border: 2px solid; */
    position: relative;
    /* bottom: 00px; */
    width: 1000px;
    height: 250px;
    margin-left: 95px;
    cursor: pointer;

}
#Aj:hover{
    text-decoration: underline;
}
#Am{
    position: relative;
    height: 200px;
    width: 340px;
    margin-top: 20px;
}
#An{
    position: relative;
    left: 360px;
    bottom: 240px;
    font-size: 40px;
    font-weight: 600;
}
#Ao{
    position: relative;
    height: 200px;
    width: 350px;
    margin-top: 20px;
}
#Ap{
    position: relative;
    left: 370px;
    bottom: 230px;
    font-size: 40px;
    font-weight: 600;
}


#Aq{
    border: 1px solid rgb(182, 177, 177);
    border-bottom: none;
    border-left: none;
    border-right: none;
    position: relative;
    bottom: 1350px;
    height: 4032px;
    width: 2300px;
    margin-left: 190px;
}
#Ar{
    /* border: 2px solid; */
    margin-top: 100px;
    width: 700px;
    height: 900px;

}
#Ar:hover{
    text-decoration: underline;
    cursor: pointer;
}
#As{
    position: relative;
    height: 500px;
    width: 700px;
}
#At{
    /* border: 2px solid; */
    text-decoration: underline white;
    width: fit-content;
    position: relative;
    left: 250px;
    bottom: 20px;
    font-size: 40px;
    font-variant: small-caps;
    color: #918d8d;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#Au{
    /* border: 2px solid; */
    width: fit-content;
    position: relative;
    left: 100px;
    bottom: 40px;
    font-size: 45px;
    font-weight:600 ;

}
#Av{
    /* border: 2px solid; */
    width: fit-content;
    position: relative;
    left: 150px;
    bottom: 70px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}
#Aw{
    /* border: 2px solid; */
    width: fit-content;
    position: relative;
    left: 200px;
    bottom: 100px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}
#Ax{
    /* border: 2px solid; */
    position: relative;
    /* border: 2px solid; */
    width: 700px;
    left: 780px;
    bottom: 900px;
    height: 900px;
    cursor: pointer;
}
#Ax:hover{
    text-decoration: underline;
}
#Ay{
    position: relative;
    height: 490px;
    width: 700px;
}
#Az{
    /* border: 2px solid; */
    width: fit-content;
    position: relative;
    left: 230px;
    bottom: 110px;
    font-size: 35px;
    font-variant: small-caps;
    text-decoration: underline white;
    color: orangered;
}
#Ba{
    position: relative;
    border: 2px solid rgb(172, 168, 168);
    bottom: 100px;
    width: 100px;
    margin-left: 300px;


}
#Bb{
    position: relative;
    left: 190px;
    font-size: 40px;
    font-variant: small-caps;
    color: #918d8d;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline white;
}
#Bc{
    /* border: 2px solid; */
    width: fit-content;
    position: relative;
    left: 60px;
    bottom: 30px;
    font-size: 40px;
    font-size: 45px;
    font-weight:600 ;
}
#Bd{
    /* border: 2px solid; */
    width: fit-content;
    position: relative;
    left: 180px;
    bottom: 70px;
    font-size: 50px;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}
#Be{
    position: relative;
    bottom: 70px;
    border: 2px solid rgb(168, 164, 164);
    width: 130px;
    margin-left: 260px;

}
#Bf{
    /* border: 2px solid; */
    width: fit-content;
    position: relative;
    left: 220px;
    bottom: 70px;
    font-size: 35px;
    font-variant: small-caps;
    text-decoration: underline white;
    color: orangered;
}
#Bg{
    /* border: 2px solid; */
    width: fit-content;
    position: relative;
    left: 150px;
    bottom: 95px;
    font-size: 35px;
    font-variant: small-caps;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline white;
    color: orangered;
}
#Bh{
    position: relative;
    /* border: 2px solid; */
    width: 700px;
    bottom: 800px;
    height: 900px;
    cursor: pointer;
}
#Bh:hover{
    text-decoration: underline;
}
#Bi{
    position: relative;
    height: 490px;
    width: 699px;
}
#Bj{
    /* border: 2px solid; */
    width: fit-content;
    position: relative;
    left: 270px;
    bottom: 19px;
    font-weight: 500;
    font-size: 39px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-variant: small-caps;
    color: #7e7c7c;
    text-decoration: underline white;
}
#Bk{
    /* border: 2px solid; */
    width: fit-content;
    position: relative;
    left: 150px;
    bottom: 45px;
    font-size: 40px;
    font-weight: 600;
}
#Bl{
    /* border: 2px solid; */
    width: fit-content;
    position: relative;
    left: 100px;
    bottom: 80px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}
#Bm{
    /* border: 2px solid; */
    width: fit-content;
    position: relative;
    left: 190px;
    bottom: 110px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}
#Bn{
    border: 2px solid #a8a3a3;
    position: relative;
    bottom: 100px;
    width: 120px;
    margin-left: 280px;

}
#Bo{
    /* border: 2px solid; */
    width: fit-content;
    position: relative;
    left: 210px;
    bottom: 100px;
    font-size: 35px;
    font-variant: small-caps;
    color: orangered;
    text-decoration: underline white;
}
#Bp{
    /* border: 2px solid; */
    position: relative;
    left: 800px;
    width: 700px;
    bottom: 1700px;
    height: 900px;
    cursor: pointer;
}
#Bp:hover{
    text-decoration: underline;
}
#Bq{
    position: relative;
    height: 490px;
    width:700px;
}
#Br{
    /* border: 2px solid; */
    width: fit-content;
    position: relative;
    left: 270px;
    bottom: 20px;
    font-weight: 500;
    font-size: 39px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-variant: small-caps;
    color: #7e7c7c;
    text-decoration: underline white;
}
#Bs{
    /* border: 2px solid; */
    width: fit-content;
    position: relative;
    left: 80px;
    font-size: 40px;
    font-weight: 600;
}
#Bt{
    border: 2px solid rgb(151, 150, 150);
    position: relative;
    width: 130px;
    left: 280px;
}
#Bu{
    /* border: 2px solid; */
    width: fit-content;
    position: relative;
    left: 240px;
    font-size: 35px;
    font-variant: small-caps;
    color: orangered;
    text-decoration: underline white;
}
#Bv{
    /* border: 2px solid; */
    position: relative;
    /* left: 800px; */
    width: 700px;
    bottom: 1700px;
    height: 900px;
    cursor: pointer;
    margin-top: 100px;
}
#Bv:hover{
    text-decoration: underline;
}
#Bw{
    position: relative;
    height: 490px;
    width: 700px;
}
#Bx{
    width: fit-content;
    position: relative;
    left: 240px;
    bottom: 20px;
    font-weight: 500;
    font-size: 39px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-variant: small-caps;
    color: #7e7c7c;
    text-decoration: underline white;
}
#By{
    width: fit-content;
    position: relative;
    left: 100px;
    bottom: 40px;
    font-size: 40px;
    font-weight: 600;
}
#Bz{
    width: fit-content;
    position: relative;
    left: 90px;
    bottom: 70px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    word-spacing: 5px;
}
#Ca{
    /* border: 2px solid; */
    width: fit-content;
    position: relative;
    left: 230px;
    bottom: 100px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    word-spacing: 5px;

}
#Cb{
    border: 2px solid rgb(153, 151, 151);
    position: relative;
    bottom: 100px;
    width: 100px;
    left: 290px;
    
}
#Cc{
    /* border: 2px solid; */
    width: fit-content;
    position: relative;
    bottom: 90px;
    left: 200px;
    font-size: 35px;
    font-variant: small-caps;
    color: orangered;
    text-decoration: underline white;
}
#Cd{
    /* border: 2px solid; */
    position: relative;
    left: 800px;
    width: 700px;
    bottom: 2700px;
    height: 900px;
    cursor: pointer;
    margin-top: 100px;
}
#Cd:hover{
    text-decoration: underline;
}
#Ce{
    position: relative;
    height: 490px;
    width: 700px;
}
#Cf{
    /* border: 2px solid; */
    width: fit-content;
    position: relative;
    left: 230px;
    bottom: 20px;
    font-weight: 500;
    font-size: 39px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-variant: small-caps;
    color: #7e7c7c;
    text-decoration: underline white;
}
#Cg{
    /* border: 2px solid; */
    width: fit-content;
    position: relative;
    left: 100px;
    bottom: 40px;
    font-size: 40px;
    line-height: 55px;
    font-weight: 600;
}
#Ch{
    width: fit-content;
    position: relative;
    left: 300px;
    bottom: 75px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}
#Ci{
    border: 2px solid rgb(179, 177, 177);
    position: relative;
    width: 130px;
    left: 280px;
    bottom: 80px;
}
#Cj{
    /* border: 2px solid; */
    width: fit-content;
    position: relative;
    left: 170px;
    bottom: 80px;
    font-size: 33px;
    font-variant: small-caps;
    color: orangered;
    text-decoration: underline white;
}
#Ck{
    width: fit-content;
    position: relative;
    left: 230px;
    bottom: 110px;
    font-size: 35px;
    font-variant: small-caps;
    color: orangered;
    text-decoration: underline white;
}
#Cl{
    /* border: 2px solid; */
    position: relative;
    /* left: 800px; */
    width: 700px;
    bottom: 2700px;
    height: 900px;
    cursor: pointer;
    margin-top: 100px;
}
#Cl:hover{
    text-decoration: underline;
}
#Cm{
    width: 700px;
    height: 490px;
}
#Cn{
    /* border: 2px solid; */
    width: fit-content;
    position: relative;
    left: 260px;
    bottom: 20px;
    font-variant: small-caps;
    font-weight: 500;
    font-size: 39px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #7e7c7c;
    text-decoration: underline white;
}
#Co{
    /* border: 2px solid; */
    width: fit-content;
    font-size: 45px;
    position: relative;
    left: 90px;
    bottom: 30px;
    font-weight: 600;
}
#Cp{
    /* border: 2px solid; */
    width: fit-content;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    position: relative;
    left: 230px;
    bottom: 65px;
}
#Cq{
    border: 2px solid rgb(160, 159, 159);
    width: 130px;
    position: relative;
    left: 290px;
    bottom: 50px;
}
#Cr{
    /* border: 2px solid; */
    width: fit-content;
    position: relative;
    left: 250px;
    bottom: 50px;
    font-size: 35px;
    font-weight: 520;
    font-variant: small-caps;
    color: orangered;

}
#Cs{
    /* border: 2px solid; */
    position: relative;
    left: 800px;
    width: 700px;
    bottom: 3700px;
    height: 900px;
    cursor: pointer;
    margin-top: 100px
}
#Cs:hover{
    text-decoration: underline;
}
#Ct{
    height: 490px;
    width: 700px;
}
#Cu{
    /* border: 2px solid; */
    position: relative;
    left: 250px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    /* left: 260px; */
    bottom: 20px;
    font-variant: small-caps;
    font-weight: 500;
    font-size: 39px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #7e7c7c;
    text-decoration: underline white;
}
#Cv{
    /* border: 2px solid; */
    width: fit-content;
    position: relative;
    left: 85px;
    bottom: 30px;
    font-size: 45px;
    font-weight: 600;
}
#Cw{
    /* border: 2px solid; */
    width: fit-content;
    position: relative;
    bottom:65px;
    left: 180px;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}
#Cx{
    border: 2px solid gray;
    width: 130px;
    position: relative;
    left: 250px;
    bottom: 50px;
}
#Cy{
    width: fit-content;
    position: relative;
    left: 190px;
    bottom: 50px;
    font-size: 35px;
    font-weight: 520;
    font-variant: small-caps;
    color: orangered;
    text-decoration: underline white;
}

#Cz{
    /* border: 2px solid; */
    position: relative;
    bottom: 1250px;
    height: 1100px;
    background-color:#f1f2f2;
}

#Cz h1{
    /* border: 2px solid; */
    position: relative;
    left: 1000px;
    top: 20px;
    font-size: 70px;
    z-index: 1; 
    background-color: #f1f2f2;
}

#Da{
    border: 2px solid rgb(209, 206, 206);
    border-bottom: none;
    border-left: none;
    border-right: none;
    width: 2300px;
    position: relative;
    bottom: 70px;
    margin-left: 180px;
    height: 900px;
}
#Db{
    /* border: 2px solid; */
    border-radius: 50px;
    margin-top: 150px;
    margin-left: 50px;
    height: 550px;
    width: 360px;
}
#Db:hover{
    text-decoration: underline;
}
#Db img{
    height: 350px;
    /* margin-top: 100px; */
    /* margin-left: 100px; */
    border-radius: 100%;
    cursor: pointer;
}
#Db p{
    /* border: 2px solid; */
    width: fit-content;
    position: relative;
    left: 70px; 
    font-size: 28px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}
#Db pre{
    /* border: 2pxx solid; */
    width: fit-content;
    position: relative;
    left: 120px;
    bottom: 20px;
    font-size: 28px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#Dc{
    position: relative;
    left: 145px;
    bottom: 100px;
    font-variant: small-caps;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 33px;
    color: #7e7c7c;
    cursor: default;
}
#Dd{
    /* border: 2px solid; */
    border-radius: 50px;
    position: relative;
    bottom: 660px;
    /* margin-top: 1500px; */
    margin-left: 500px;
    height: 560px;
    width: 360px;
}
#Dd:hover{
    text-decoration: underline;
}
#Dd img{
    height: 350px;
    width: 360px;
    border-radius:100% ;
    cursor: pointer;
}
#Dd p{
    width: fit-content;
    position: relative;
    left: 30px;
    font-size: 28px;
    font-weight: 500;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}
#Dd pre{
    width: fit-content;
    position: relative;
    left: 150px;
    bottom: 30px;
    font-size: 28px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}
#De{
    width: fit-content;
    position: relative;
    bottom: 800px;
    left: 550px;
    font-variant: small-caps;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 33px;
    color: #7e7c7c;
    cursor: default;
}
#Df{
    width: fit-content;
    position: relative;
    bottom: 850px;
    left: 560px;
    font-variant: small-caps;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 33px;
    color: #7e7c7c;
    cursor: default;
}
#Dg{
    /* border: 2px solid; */
    border-radius: 50px;
    position: relative;
    bottom: 1410px;
    /* margin-top: 1500px; */
    margin-left: 930px;
    height: 560px;
    width: 360px;
}
#Dg:hover{
    text-decoration: underline;
}
#Dg img{
    height: 350px;
    width: 360px;
    border-radius: 100%;
    cursor: pointer;
}
#Dg p{
    width: fit-content;
    position: relative;
    left: 34px;
    font-size: 28px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}
#Dg pre{
    position: relative;
    left: 110px;
    bottom: 20px;
    font-size: 28px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}
#Dh{
    width: fit-content;
    position: relative;
    bottom: 1540px;
    left: 970px;
    font-variant: small-caps;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 33px;
    color: #7e7c7c;
    cursor: default;
}
#Di{
    width: fit-content;
    position: relative;
    bottom: 1588px;
    left: 980px;
    font-variant: small-caps;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 33px;
    color: #7e7c7c;
    cursor: default;
}
#Dj{
    /* border: 2px solid; */
    border-radius: 50px;
    position: relative;
    bottom: 2150px;
    /* margin-top: 1500px; */
    margin-left: 1360px;
    height: 560px;
    width: 360px;
}
#Dj:hover{
    text-decoration: underline;
}
#Dj img{
    height: 350px;
    width: 360px;
    border-radius: 100%;
    cursor: pointer;
}
#Dj p{
    /* border: 2px solid; */
    width: fit-content;
    position: relative;
    left: 50px;
    font-size: 28px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}
#Dk{
    width: fit-content;
    position: relative;
    bottom: 2300px;
    left: 1500px;
    font-variant: small-caps;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 33px;
    color: #7e7c7c;
    cursor: default;
}
#Dl{
    /* border: 2px solid; */
    border-radius: 50px;
    position: relative;
    bottom: 2820px;
    /* margin-top: 1500px; */
    margin-left: 1800px;
    height: 560px;
    width: 360px;
}
#Dl:hover{
    text-decoration: underline;
}
#Dl img{
    height: 350px;
    width: 360px;
    border-radius: 100%;
    cursor: pointer;
}
#Dl p{
     /* border: 2px solid; */
     width: fit-content;
     position: relative;
     left: 50px;
     font-size: 28px;
     font-weight: 500;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     cursor: pointer;
}
#Dl pre{
    position: relative;
    left: 140px;
    bottom: 20px;
    font-size: 28px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}
#Dm{
    width: fit-content;
    position: relative;
    bottom: 2940px;
    left: 1818px;
    font-variant: small-caps;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 33px;
    color: #7e7c7c;
    cursor: default;
}
#Dn{
    width: fit-content;
    position: relative;
    bottom: 2990px;
    left: 1870px;
    font-variant: small-caps;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 33px;
    color: #7e7c7c;
    cursor: default;
}
#Do{
    border: 2px solid black;
    height: 200px;
    background-color:rgb(233, 44, 11);
}
#Do p{
    /* border: 2px solid; */
    width: fit-content;
    position: relative;
    left: 400px;
    top: 35px;
    font-size: 45px;
    color: white;
    font-weight: 600;
}
#Do input{
    position: relative;
    left: 1550px;
    bottom: 84px;
    font-size: 23px;
    height: 80px;
    width: 350px;
    color: #c4bbbb;
}
#Do button{
    position: relative;
    left: 1543px;
    bottom: 80px;
    /* padding: 32px 50px 30px 50px; */
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    height: 87px;
    width: 150px;
    background-color: black;
    color: white;
    cursor: pointer;
}
#Dp{
    /* border: 2px solid; */
    margin-top: 200px;
    width: 1800px;
    margin-left: 310px;
    height: 800px;
}
#Dp img{
    height: 1000px;
    width: 1900px;
    cursor: pointer;
    
}
#Dp pre{
    border: 2px solid white;
    width: 1700px;
    height: 850px;
    position: relative;
    left: 100px;
    bottom: 950px;
    cursor: pointer;
}
#Dq{
    /* border: 2px solid; */
    position: relative;
    width: fit-content;
    color: white;
    background-color: orangered;
    padding: 30px 50px 30px 50px;
    left: 1470px;
    bottom: 730px;
    font-size:35px ;
    font-variant: small-caps;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    z-index: 1;
}
#Dr{
    border: 2px solid;
    position: relative;
    width: 800px;
    height: 600px;
    background-color: white;
    left: 1250px;
    bottom: 800px;
}
#Dr:hover{
    text-decoration: underline;
}

#Ds{
    /* border: 2px solid; */
    width: fit-content;
    position: relative;
    left: 140px;
    top: 30px;
    font-size: 80px;
    font-weight: 600;
}
#Dt{
    width: fit-content;
    position: relative;
    left: 100px;
    bottom: 70px;
    font-size: 80px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}

#Du{
    width: fit-content;
    position: relative;
    left: 250px;
    bottom: 180px;
    font-size: 80px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}

#Dv{
    width: fit-content;
    position: relative;
    left: 100px;
    bottom: 210px;
    font-size: 28px;
    word-spacing: 3px;
    letter-spacing: 1px;
    text-decoration: underline white;
}
#Dv:hover{
    text-decoration: underline white;
}
#Dw{
    /* border: 2px solid; */
    width: fit-content;
    position: relative;
    left: 300px;
    bottom: 200px;
    text-decoration: none;
    font-size: 35px;
    font-variant: small-caps;
    color: orangered;
    /* text-decoration: underline orangered; */
    /* height: 20px; */
    cursor: pointer;
}
#Dw{
        text-decoration: underline orangered;
}

#Dx{
    border: 2px solid;
    position: relative;
    bottom: 600px;
    height: 2500px;
    background-color:#f1f2f2;
}
#Dx span{
    /* border: 2px solid; */
    position: relative;
    left: 350px;
    top: 130px;
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant: small-caps;
}
#Dy{
    /* border: 2px solid; */
    width: fit-content;
    position: relative;
    top: 300px;
    left: 600px;
    font-size: 90px;
    font-family: 'Sassy Frass', cursive;
    cursor: pointer;
}
#Dz{
    /* border: 2px solid; */
    width: fit-content;
    position: relative;
    top: 160px;
    left: 950px;
    font-size: 80px;
    font-family: 'Marck Script', cursive;
    font-family: 'Rubik Storm', cursive;
    cursor: pointer;
}
#Ea{
    /* border: 2px solid; */
    width: fit-content;
    position: relative;
    top:0px;
    left: 1500px;
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 'Cinzel Decorative', cursive;
font-family: 'Marck Script', cursive;
font-family: 'Rubik Storm', cursive;
cursor: pointer;
    
}
#Eb{
    /* border: 2px solid; */
    width: fit-content;
    position: relative;
    bottom: 150px;
    left: 1850px;
    font-size: 50px;
    font-family: 'Marck Script', cursive;
font-family: 'Rubik Storm', cursive;
cursor: pointer;
}
#Ec{
    /* border: 2px solid; */
    width: fit-content;
    position: relative;
    top: 100px;
    left: 400px;
    font-size: 90px;
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Marck Script', cursive;
    font-family: 'Rubik Storm', cursive;
    cursor: pointer;
}
#Ed{
    /* border: 2px solid; */
    width: fit-content;
    position: relative;
    top: 0px;
    left: 1000px;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}
#Ed pre{
    border: 2px solid;
    position: relative;
    left: 311px;
    bottom: 110px;
    font-style: italic;
}
#Ee{
    /* border: 2px solid; */
    width: fit-content;
    position: relative;
    left: 620px;
    top: 340px;
    font-size: 30px;
    color: #a8a3a3;
    cursor: pointer;
}
#Ee:hover{
    text-decoration: underline;
}
#Ef{
    /* border: 2px solid; */
    width: fit-content;
    position: relative;
    left: 1080px;
    top: 200px;
    font-size: 30px;
    color: #a8a3a3;
    cursor: pointer;
}
#Ef:hover{
    text-decoration: underline;
}
#Eg{
    /* border: 2px solid; */
    width: fit-content;
    position: relative;
    left: 1530px;
    top: 50px;
    font-size: 30px;
    color: #a8a3a3;
    cursor: pointer;
}
#Eg:hover{
    text-decoration: underline;
}
#Eh{
    /* border: 2px solid; */
    width: fit-content;
    position: relative;
    left: 2000px;
    bottom: 70px;
    /* top: 50px; */
    font-size: 30px;
    color: #a8a3a3;
    cursor: pointer;
}
#Eh:hover{
    text-decoration: underline;
}
#Ei{
    /* border: 2px solid; */
    width: fit-content;
    position: relative;
    left: 500px;
    /* bottom: 70px; */
    top: 150px;
    font-size: 30px;
    color: #a8a3a3;
    cursor: pointer;
}
#Ei:hover{
    text-decoration: underline;
}
#Ej{
    /* border: 2px solid; */
    width: fit-content;
    position: relative;
    left: 1170px;
    /* bottom: 70px; */
    top: 70px;
    font-size: 30px;
    color: #a8a3a3;
    cursor: pointer;
}
#Ej:hover{
    text-decoration: underline;
}
#Ek{
    /* border: 2px solid; */
    width: fit-content;
    position: relative;
    left: 1110px;
    top: 372px;
    font-size: 30px;
    color: #a8a3a3;
    cursor: pointer;
}
#Ek:hover{
    text-decoration: underline;
}
#El{
    /* border: 2px solid; */
    width: fit-content;
    position: relative;
    left: 1550px;
    top: 250px;
    font-size: 30px;
    color: #a8a3a3;
    cursor: pointer;
}
#El:hover{
    text-decoration: underline;
}
#Em{
    border: 2px solid;
    position: relative;
    top: 250px;
    left: 330px;
    width: 2000px;
    height: 1000px;
}
#En{
    border: 2px solid;
    position: relative;
    width: 600px;
    left: 100px;
    top: 100px;
    height: 800px;
}
#En p{
    border: 2px solid;
    width: fit-content;
    position: relative;
    left: 0px;
    font-size: 45px;
    font-variant: small-caps;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
